
@{
    ViewBag.Title = "Azure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clr"></div>
<div class="textdiv">

    <h2>Azure Cloud</h2>

    <p>Cloud providers are rapidly taking over from the traditional web hosting and database hosting routine. 
    Abion Technology has expertise in <a href="https://azure.microsoft.com/en-us/" target="_blank">Microsoft Azure Cloud Platform</a>, 
    and will soon be moving all Abion applications into the Microsoft Azure Cloud permanently. 
    If you need assistance with Cloud services, Abion Technology can help</p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</div>
<div class="clr"></div>
    </div>
  </div>

<script>
  ga('send', 'pageview');
</script>