
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- text content goes here --->
<div class="clr"></div>
<div class="textdiv">
    <h2>Technology Blog</h2>
    <br />

    <h4>
        <a href="https://michaelgworkman.blogspot.com/2020/01/managing-linux-and-unix-servers.html" target="_blank">
            Managing Linux and Unix Servers Remotely with the Termux Android App
        </a>
    </h4>

    <h4>
        <a href="https://michaelgworkman.blogspot.com/2019/12/comparison-of-lists-in-microsoft-c-net.html" target="_blank">
            Comparison of Lists in Microsoft C# .NET, C++, C, Java, Objective C, and Swift Programming Languages
        </a>
    </h4>

    <h4>
        <a href="https://michaelgworkman.blogspot.com/2019/12/using-void-pointers-and-generics-with-c.html" target="_blank">
            Using Void Pointers and Generics in the C++ Programming Language
        </a>
    </h4>

    <h4>
        <a href="https://michaelgworkman.blogspot.com/2019/11/using-timing-of-algorithms-with-c.html" target="_blank">
            Using Timing of Algorithms with the C++ Programming Language
        </a>
    </h4>

    <h4>
        <a href="https://michaelgworkman.blogspot.com/2019/09/developing-on-unix-and-linux-with-gcc.html" target="_blank">
            Developing on Unix, Linux, and macOS with GCC, G++, and CLANG
        </a>
    </h4>

    <h4>
        <a href="https://michaelgworkman.blogspot.com/2019/06/using-linked-lists-in-c-programming.html" target="_blank">
            Using Linked Lists in the C Programming Language - PART 2
        </a>
    </h4>

    <h4>
        <a href="https://michaelgworkman.blogspot.com/2019/05/simple-html-form-validation-with-jquery.html" target="_blank">
            Simple HTML Form Validation with JQuery
        </a>
    </h4>

    <h4>
        <a href="https://michaelgworkman.blogspot.com/2019/05/using-linked-lists-in-c-programming.html" target="_blank">
            Using Linked Lists in the C Programming Language
        </a>
    </h4>

    <h4>
        <a href="https://michaelgworkman.blogspot.com/2019/05/using-geospatial-data-with-microsoft.html" target="_blank">
            Using Geospatial Data with Microsoft ASP.NET MVC Web Applications and Entity Framework ORM
        </a>
    </h4>

    <h4>
        <a href="https://michaelgworkman.blogspot.com/2019/05/working-with-geospatial-data-in.html" target="_blank">
            Working with Geospatial Data in Microsoft SQL Server TSQL
        </a>
    </h4>

    <h4>
        <a href="https://michaelgworkman.blogspot.com/2019/05/using-guid-with-microsoft-c-net-and.html" target="_blank">
            Using GUID with Microsoft C# .NET and Entity Framework ORM
        </a>
    </h4>

    <h4>
        <a href="https://michaelgworkman.blogspot.com/2019/05/sql-server-sql-challenge-1.html" target="_blank">
            Microsoft SQL Server TSQL Challenge #1
        </a>
    </h4>

    <h4>
        <a href="https://michaelgworkman.blogspot.com/2019/05/base-class-magic-with-object-oriented-c.html" target="_blank">
            Base Class Magic with Object Oriented C++
        </a>
    </h4>

    <h4>
        <a href="https://michaelgworkman.blogspot.com/2019/04/creating-objects-with-object-oriented-c.html" target="_blank">
            Creating Objects with Object Oriented C++
        </a>
    </h4>
    <br />
    <br />
    <br />
    <br />

</div>
<div class="clr"></div>
    </div>
  </div>

<script>
  ga('send', 'pageview');
</script>

