@{
                /**/

                ViewBag.Title = "Contact";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="content_resize">
        <div class="mainbar" id="contact">
            <div class="article">
                <h3>Contact</h3>
                <div class="clr"></div>
                <div class="contactinfo">
                    <p>ABION is located in sunny Cape Canaveral, Florida but will accept clients in any location. Contact ABION today to see what help can be provided with your presence on the web.</p>
                    <p>
                        ABION Technology
                        <br />
                        208 Caroline Street<br /> #504<br /> Cape Canaveral, FL 32920-2711
                        <br>
                        <br>
                        (321) 432-9295
                        <br>
                        <br>
                        president AT abion DOT NET
                        <br />
                        <br />
                    </p>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</div>
</div>
