@{
                /**/

                ViewBag.Title = "Contact";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="content_resize">
        <div class="mainbar" id="contact">
            <div class="article">
                <h3>Contact</h3>
                <div class="clr"></div>
                <form action="/Home/Contact" method="post" id="ContactForm" class="contactform">
                    @Html.AntiForgeryToken()
                    <ol>
                        <li>
                            <label for="ContactName">Name (required)</label>
                            <input name="ContactName" id="ContactName" class="textbox" maxlength="150" />
                        </li>
                        <li>
                            <label for="ContactEmail">Email Address (required)</label>
                            <input name="ContactEmail" id="ContactEmail" class="textbox" maxlength="100" />
                        </li>
                        <li>
                            <label for="ContactPhone">Phone (include area code) (required)</label>
                            <input name="ContactPhone" id="ContactPhone" class="textbox" maxlength="20" />
                        </li>
                        <li>
                            <label for="ContactCategories_ID">Category</label>
                            @Html.DropDownList("ContactCategories_ID", (SelectList)ViewBag.Categories, "Select a Category")
                        </li>
                        <li>
                            <label for="WebMessage">Your Message</label>
                            <textarea name="WebMessage" id="WebMessage" cols="50" rows="8" class="textbox"></textarea>
                        </li>
                        <li>
                            <div id="ValidationMessage" style="display:none;color:red;"></div>
                        </li>
                        <li>
                            <br />
                            <button type="button" text="Send" id="SendBTN" class="contactbutton">Send</button>
                            <div class="clr"></div>
                        </li>
                    </ol>
                </form>
                <div class="contactinfo">
                    <p>ABION is located in sunny Cape Canaveral, Florida but will accept clients in any location. Contact ABION today to see what help can be provided with your presence on the web.</p>
                    <p>
                        ABION Technology
                        <br />
                        208 Caroline Street<br /> #504<br /> Cape Canaveral, FL 32920-2711
                        <br>
                        <br>
                        (321) 432-9295
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</div>
</div>


@* JQuery Code for Form Validation *@
@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {

             $("#SendBTN").click(function () {

                // clear out previous error messages
                $(".error").remove();

                // var for form validation
                var formValidated = true;

                // vars for form validation
                var contactName = $("#ContactName");
                var contactEmail = $("#ContactEmail");
                var contactPhone = $("#ContactPhone");
                var contactCategories = $("#ContactCategories_ID");
                var webMessage = $("textarea#WebMessage");

                // Contact Name
                if (contactName.val().trim() == "") {
                    formValidated = false;
                    contactName.after("<br/><span class='error' style='color:red;'>Contact Name Required</span><br/>");
                }

                // Contact Email
                if (contactEmail.val().trim() == "") {
                    formValidated = false;
                    contactEmail.after("<br/><span class='error' style='color:red;'>Contact Email Required</span><br/>");
                }
                else {

                    // Test Contact Email for Proper Format Using Regular Expression
                    var regEx = /^[a-zA-Z0-9._]+[a-zA-Z0-9]+@@[a-zA-Z0-9]+\.[a-zA-Z]{2,4}$/;
                    if (!regEx.test(contactEmail.val()))
                    {
                        formValidated = false;
                        contactEmail.after("<br/><span class='error' style='color:red;'>Contact Email Invalid Format</span><br/>");
                    }

                    // Test Contact Email for Proper Length
                    if (contactEmail.val().length < 8) {
                        formValdiated = false;
                        contactEmail.after("<br/><span class='error' style='color:red;'>Contact Email Not At Least 8 Characters</span><br/>");
                    }
                }

                // Contact Phone
                if (contactPhone.val().trim() == "") {
                    formValidated = false;
                    contactPhone.after("<br/><span class='error' style='color:red;'>Contact Phone Number Required</span><br/>");
                }
                else if (contactPhone.val().trim().length < 7) {
                    formValidated = false;
                    contactPhone.after("<br/><span class='error' style='color:red;'>Contact Phone Number Not At Least 7 Numbers</span><br/>");
                }

                // Contact Categories
                if (contactCategories.val() == "") {
                    formValidated = false;
                    contactCategories.after("<br /><span class='error' style='color:red;'>Contact Category Required</span>");
                }

                // Web Message
                if (webMessage.val().trim() == "") {
                    alert("Form validated false, empty webmessage");
                    formValidated = false;
                    webMessage.after("<span class='error' style='color:red;'>Message Required</span><br/>");
                }
                else if (((webMessage.val().toUpperCase().indexOf("ADULT") >= 0) && (webMessage.val().toUpperCase().indexOf("SEX") >= 0))
                    || ((webMessage.val().toUpperCase().indexOf("ADULT") >= 0) && (webMessage.val().toUpperCase().indexOf("DATE") >= 0))
                    || ((webMessage.val().toUpperCase().indexOf("ADULT") >= 0) && (webMessage.val().toUpperCase().indexOf("DATING") >= 0))
                    || ((webMessage.val().toUpperCase().indexOf("ADULT") >= 0) && (webMessage.val().toUpperCase().indexOf("HOT") >= 0))
                    || ((webMessage.val().toUpperCase().indexOf("GIRL") >= 0) && (webMessage.val().toUpperCase().indexOf("SEX") >= 0))
                    || ((webMessage.val().toUpperCase().indexOf("GIRL") >= 0) && (webMessage.val().toUpperCase().indexOf("DATE") >= 0))
                    || ((webMessage.val().toUpperCase().indexOf("GIRL") >= 0) && (webMessage.val().toUpperCase().indexOf("DATING") >= 0))
                    || ((webMessage.val().toUpperCase().indexOf("GIRL") >= 0) && (webMessage.val().toUpperCase().indexOf("HOT") >= 0))
                    || ((webMessage.val().toUpperCase().indexOf("WEB") >= 0) && (webMessage.val().toUpperCase().indexOf("AD") >= 0))
                    || ((webMessage.val().toUpperCase().indexOf("WEB") >= 0) && (webMessage.val().toUpperCase().indexOf("ADVERTISEMENT") >= 0))
                    || ((webMessage.val().toUpperCase().indexOf("OAKLEY") >= 0) && (webMessage.val().toUpperCase().indexOf("RAY BAN") >= 0))
                    || ((webMessage.val().toUpperCase().indexOf("PASSIVE") >= 0) && (webMessage.val().toUpperCase().indexOf("INCOME") >= 0))    // ansi
                    || ((webMessage.val().toUpperCase().indexOf("PASSIVE") >= 0) && (webMessage.val().toUpperCase().indexOf("INCOME") >= 0))    // utf-8
                    || ((webMessage.val().indexOf("Passive") >= 0) && (webMessage.val().indexOf("Income") >= 0))    // utf-8
                    || ((webMessage.val().indexOf("passive") >= 0) && (webMessage.val().indexOf("income") >= 0))    // utf-8
                    || (webMessage.val().toUpperCase().indexOf("SEX") >= 0)
                    || (webMessage.val().toUpperCase().indexOf("DATING") >= 0)
                    || (webMessage.val().toUpperCase().indexOf("SEO") >= 0)
                    || (webMessage.val().toUpperCase().indexOf("S.E.O.") >= 0)
                    || (webMessage.val().toUpperCase().indexOf("OAKLEY") >= 0)
                    || (webMessage.val().toUpperCase().indexOf("RAY BAN") >= 0)
                    || (webMessage.val().toUpperCase().indexOf("RAY-BAN") >= 0)
                    || (webMessage.val().toUpperCase().indexOf("RAYBAN") >= 0)
                    || (webMessage.val().toUpperCase().indexOf("SUNGLASS") >= 0)
                    || (webMessage.val().toUpperCase().indexOf("VERDIENEN SIE GELD") >= 0)  // utf-8
                        || (webMessage.val().indexOf("Vеrdienen Sie Gеld") >= 0)                // utf-8
                        || (webMessage.val().indexOf("vеrdienen sie gеld") >= 0)                // utf-8
                        || (webMessage.val().toUpperCase().indexOf("PASSIVES EINKOMMEN") >= 0)  // utf-8
                        || (webMessage.val().toUpperCase().indexOf("EINKOMMEN") >= 0)           // utf-8
                        || (webMessage.val().indexOf("Passives Einkommеn") >= 0)                // utf-8
                        || (webMessage.val().indexOf("Einkommеn") >= 0)                         // utf-8
                        || (webMessage.val().indexOf("passives einkommеn") >= 0)                // utf-8
                        || (webMessage.val().indexOf("einkommеn") >= 0)                         // utf-8
                        || (webMessage.val().toUpperCase().indexOf("SEX") >= 0)                 // utf-8
                        || (webMessage.val().toUpperCase().indexOf("SPAM") >= 0)                // utf-8
                        || (webMessage.val().toUpperCase().indexOf("DATING") >= 0)              // utf-8
                        || (webMessage.val().toUpperCase().indexOf("VERDIENEN SIE GELD") >= 0)  // ansi
                        || (webMessage.val().indexOf("Verdienen Sie Geld") >= 0)                // ansi
                        || (webMessage.val().indexOf("verdienen sie geld") >= 0)                // ansi
                        || (webMessage.val().toUpperCase().indexOf("PASSIVES EINKOMMEN") >= 0)  // ansi
                        || (webMessage.val().toUpperCase().indexOf("EINKOMMEN") >= 0)           // ansi
                        || (webMessage.val().indexOf("Passives Einkommen") >= 0)                // ansi
                        || (webMessage.val().indexOf("Einkommen") >= 0)                         // ansi
                        || (webMessage.val().indexOf("passives einkommen") >= 0)                // ansi
                        || (webMessage.val().indexOf("einkommen") >= 0)                         // ansi
                        || (webMessage.val().toUpperCase().indexOf("SPAM") >= 0)           // ansi
                    || (webMessage.val().toUpperCase().indexOf("PENNY STOCK") >= 0)
                    || (webMessage.val().toUpperCase().indexOf("GOOGLE") >= 0))
                {
                    formValidated = false;
                    webMessage.after("<br><span class='error' style='color:red;'>Invalid Content</span><br/>");
                }
                else
                {
                    formValidated = true;
                }

                // If No Error, Clear Error Messages And Submit Form
                if (formValidated) {
                    $(".error").remove();
                    $("#ContactForm").submit();
                }

            });
        });
    </script>
}