
@{
    ViewBag.Title = "Contact Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="textdiv">
    <h2>Contact</h2>
    <br />
    <br />
    <h3>You Message Has Been Sent Succesfully!</h3>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<div class="clr"></div>
</div>
</div>

