
@{
    ViewBag.Title = "CustomApp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- text content goes here --->
<div class="clr"></div>
<div class="textdiv">
    <h2>Custom Apps</h2>
    <br>
    <p>
       ABION has expertise in developing mobile apps for iPhone, Android Phone, Windows Phone and Tablets such as the iPad and Android Tablet. 
       If your business or organization is in need of a custom mobile app, please contact ABION today.
    </p>

    <p>
        ABION also has expertise in custom apps for Facebook and Twitter, if you want to integrate your main website with Facebook or Twitter, 
        a custom app may be the answer. Contact ABION today if you are interested in a Facebook or Twitter custom app.
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<div class="clr"></div>
    </div>
  </div>

