@{
    ViewBag.Title = "Abion Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clr"></div>
<div class="slider">
    <div id="coin-slider">
        <a href="#"><img src="~/Content/Images/slide1.jpg" width="960" height="336" alt="slide1" /><span><big></big></span></a>
        <a href="#"><img src="~/Content/Images/slide2.jpg" width="960" height="336" alt="slide2" /><span><big></big></span></a>
        <a href="#"><img src="~/Content/Images/slide3.jpg" width="960" height="336" alt="slide3" /><span><big></big></span></a>
    </div>
    <div class="clr"></div>
</div>
<div class="clr"></div>
    </div>
  </div>

<div class="content">
    <div class="content_resize">
        <div class="mainbar">
            <div class="article">
                <h2><span>Web and Social Media Solutions</span></h2>
                <p></p>
                <div class="clr"></div>
                <div class="img"><img src="~/Content/Images/img1.jpg" border="1" width="200" height="234" alt="image" class="fl" /></div>
                <div class="post_content">
                    <p>
                        In today's digital world, it is more important than ever to have a clean, professional looking presence on the web.
                        ABION can give you a presence on the web, from a simple web page, to a complex and multifunction web application.
                    </p>
                    <p>
                        ABION can also prepare your website for the Mobile Web on devices such as the iPhone, iPad, Android Phone, Android Tablet,
                        and Windows Phone.
                    </p>
                    <p>
                        ABION also specializes in integrating websites with the major Social Media sites Facebook and Twitter.
                        We can also provide guidance with your presence on Facebook and Twitter, from setting up a basic page, to a fully functional
                        Facebook or Twitter custom application.
                    </p>
                    <p>
                        ABION also specializes in online advertising campaigns using Google Ads, Facebook Ads, and Twitter Ads.
                        Contact ABION today to discuss how ABION can benefit your business or organization.
                    </p>
                </div>
                <div class="clr"></div>
            </div>
            <div class="article">
                <h2><span>Mobile Apps</span></h2>
                <p></p>
                <div class="clr"></div>
                <div class="img"><img src="~/Content/Images/img2.jpg" width="200" height="234" alt="image" class="fl" /></div>
                <div class="post_content">
                    <p>
                        ABION has expertise in developing mobile apps for iPhone, Android Phone, Windows Phone, and Tablets like the iPad and Android Tablet. 
                        If your business or organization is interested in having a custom mobile app, contact ABION today.
                    </p>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <div class="sidebar">
            <div class="gadget">
                <h2 class="star"><span>Apps</span></h2><div class="clr"></div>
                <ul class="sb_menu">
                    <li><a href="/Home/CustomApp">Custom Apps</a></li>
                </ul>
            </div>
            <div class="gadget">
                <h2 class="star"><span>Articles</span></h2><div class="clr"></div>
                                                           <ul class="ex_menu">
                                                               <li><a href="http://abiontechnology.blogspot.com/2015/12/common-phishing-scams-circulating.html" target="_blank">Common Phishing Scams</a></li>
                                                               <li><a href="https://michaelgworkman.blogspot.com/2019/05/using-guid-with-microsoft-c-net-and.html" target="_blank">Using GUID With Microsoft C# .NET and Entity Framework ORM</a></li>
                                                               <li><a href="http://abiontechnology.blogspot.com/2019/04/creating-objects-with-object-oriented-c.html" target="_blank">Creating Objects with Object Oriented C++</a></li>
                                                               <li><a href="https://michaelgworkman.blogspot.com/2019/05/base-class-magic-with-object-oriented-c.html" target="_blank">Base Class Magic with Object Oriented C++</a></li>
                                                               <li><a href="https://michaelgworkman.blogspot.com/2019/05/sql-server-sql-challenge-1.html" target="_blank">SQL Server TSQL Challenge #1</a></li>
                                                           </ul>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</div>