@{
    ViewBag.Title = "Abion Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clr"></div>
<div class="slider">
    <div id="coin-slider">
        <a href="#"><img src="~/Content/Images/slide1.jpg" width="960" height="336" alt="slide1" /><span><big></big></span></a>
        <a href="#"><img src="~/Content/Images/slide2.jpg" width="960" height="336" alt="slide2" /><span><big></big></span></a>
        <a href="#"><img src="~/Content/Images/slide3.jpg" width="960" height="336" alt="slide3" /><span><big></big></span></a>
    </div>
    <div class="clr"></div>
</div>
<div class="clr"></div>
    </div>
  </div>

<div class="content">
    <div class="content_resize">
        <div class="mainbar">
            <div class="article">
                <h2><span>Web and Social Media Solutions</span></h2>
                <p></p>
                <div class="clr"></div>
                <div class="img"><img src="~/Content/Images/img1.jpg" border="1" width="200" height="234" alt="image" class="fl" /></div>
                <div class="post_content">
                    <p>
                        In today's digital world, it is more important than ever to have a clean, professional looking presence on the web.
                        ABION can give you a presence on the web, from a simple web page, to a complex and multifunction web application.
                    </p>
                    <p>
                        ABION can also prepare your website for the Mobile Web on devices such as the iPhone, iPad, Android Phone, Android Tablet,
                        and Windows Phone.
                    </p>
                    <p>
                        ABION also specializes in integrating websites with the major Social Media sites Facebook and Twitter.
                        We can also provide guidance with your presence on Facebook and Twitter, from setting up a basic page, to a fully functional
                        Facebook or Twitter custom application.
                    </p>
                    <p>
                        Contact ABION today to see how ABION can be of service to you.
                    </p>
                </div>
                <div class="clr"></div>
            </div>
            <div class="article">
                <h2><span>SEO and Online Ad Campaigns</span></h2>
                <p></p>
                <div class="clr"></div>
                <div class="img"><img src="~/Content/Images/img2.jpg" width="200" height="234" alt="image" class="fl" /></div>
                <div class="post_content">
                    <p>
                        Doing business on the web requires a website optimized for the best ranking on Google, Yahoo, and Bing search engines.
                        ABION can register your website with each of these search engines. ABION also specializes in Search Engine Optimization (SEO)
                        and practices good SEO practices that will boost your search engine rankings.
                    </p>
                    <p>
                        ABION also specializes in online advertising campaigns using Google Ads and Facebook Ads.
                        Contact ABION today to discuss how ABION can benefit your business or organization.
                    </p>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <div class="sidebar">
            <div class="gadget">
                <h2 class="star"><span>Apps</span></h2><div class="clr"></div>
                <ul class="sb_menu">
                    <li><a href="/customapp.aspx">Custom Apps</a></li>
                </ul>
            </div>
            <div class="gadget">
                <h2 class="star"><span>Articles</span></h2><div class="clr"></div>
                <ul class="ex_menu">
                    <li><a href="http://abiontechnology.blogspot.com/2015/12/common-phishing-scams-circulating.html" target="_blank">Common Phishing Scams</a></li>
                </ul>
            </div>
        </div>
        <div class="clr"></div>
    </div>
</div>