
@{
    ViewBag.Title = "Mobile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- text content goes here --->
<div class="clr"></div>
<div class="textdiv">
    <h2>Mobile App Development</h2>
    <br />
    <p>ABION has expertise in the development of mobile applications, or 'apps', using devices like mobile phones and tablet computers, including expertise with the IPhone, Android Phone, and Windows phone, and also expertise with tablet computers.</p>
    <p>What is the difference between a mobile app and a mobile website? A mobile app is software that resides on the mobile device, such as Objective C software (iPhone and iPad), Swift software (iPhone and iPad), or Java software (Android devices), or C# Xamarin software (all types of devices) and runs on the mobile device with or without the need for an internet connection. While a mobile website is simply a website designed to display properly in the web browsers used on a mobile device and always requires a connection to the internet.</p>
    <br />
    <h2>Mobile Web</h2>
    <br>
    <p>
        Now more than ever, people are using mobile devices such as tablets and smart phones to access and interact with the Internet. The increasing popularity of the IPhone, IPad, Android Phone, and Windows Phone has changed the way people use the internet. For these reasons, it is critically important to ensure that you have a website that will display properly in mobile phones and tablets. Websites for the Mobile Web should have a small footprint with optimized images so that the lower bandwidth of the mobile web does not cause the website to load slowly. Also websites optimized for the mobile web should display correctly in the different widths of web browsers on mobile phones and tablets.
    </p>
    <p>The best option is to have a website specifically dedicated for viewing in mobile devices. The images can be optimized to a small footprint, so that the total size of the webpage being downloaded to the browser is a small size and does not take up a large part of the mobile device monthly data allowance. One example of a dedicated mobile website is that used by the news site CNN, they have a dedicated mobile site with a small footprint at http://mobile.cnn.com Dedicated mobile sites typically use the word 'mobile' or letter 'm' in the address (url). Also, alternately, the use of software libraries like Bootstrap Javascript can allow for one website for both desktop computers and mobile devices, which is called Responsive Design.</p>
    <p>
        ABION has the expertise and skills needed to give you a professional website optimized for the Mobile Web.
    </p>

    <br />
    <br />
    <br />
</div>
<div class="clr"></div>
    </div>
  </div>

<script>
  ga('send', 'pageview');
</script>

