
@{
    ViewBag.Title = "OODevelopment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- text content goes here --->
<div class="clr"></div>
<div class="textdiv">
    <h2>Object Oriented Software Development with C++, Java, and C# .NET. Software Development with C.</h2>
    <br />
    <br />
    <p>
        ABION is also expert in software development with C/C++, Java, and C# .NET.
        Abion has expertise and experience with C/C++ including <a href="https://en.wikipedia.org/wiki/X_Window_System" target="_blank">XWindows</a> 
        C Applications, using Oracle Pro-C compilers on Unix, and with Gnome window manager on Linux.
        Abion also has expertise in object oriented C++ using multiple inheritance
        and the Standard Template Library (STL). 
        <br /><br />Abion has expertise and experience with
        Command and Control Software and Programmable Logic Controller (PLC) software,
        including <a href="http://www.arduino.cc" target="_blank">Arduino Microcontrollers</a>,
        and also using Sherill-Lubinski (SL-GMS) UI.
        <br /><br />
        ABION can implement your 
        <a href="https://en.wikipedia.org/wiki/Java_(programming_language)" target="_blank">Java</a> 
        application using the Spring framework and also with the <a href="https://en.wikipedia.org/wiki/Hibernate_(framework)" target="_blank">Hibernate</a>
        ORM,
        including <a href="https://en.wikipedia.org/wiki/Android_(operating_system)" target="_blank">Android Java</a> 
        and <a href="https://en.wikipedia.org/wiki/Java_Platform,_Micro_Edition" target="_blank">Java Micro Edition (JME)</a>.
        <br /><br />
        ABION has in depth experience with Object Oriented Microsoft <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C# .NET</a> development also.
    </p>
    <br />
    <p>Contact Abion today if you have any needs for C/C++, Java, or C# .NET software development.</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<div class="clr"></div>
    </div>
  </div>

<script>
  ga('send', 'pageview');
</script>