
@{
    ViewBag.Title = "OODevelopment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- text content goes here --->
<div class="clr"></div>
<div class="textdiv">
    <h2>Object Oriented Software Development with C++, Java, and C# .NET, Software Development with C</h2>
    <br />
    <br />
    <p>
        ABION is also expert in software development with 
        <a href="https://en.wikipedia.org/wiki/Compatibility_of_C_and_C%2B%2B" target="_blank">C/C++</a>, 
        <a href="https://www.java.com/en/" target="_blank">Java</a>, and 
        <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C# .NET</a>.
        Abion has expertise and experience with C/C++ including <a href="https://en.wikipedia.org/wiki/X_Window_System" target="_blank">XWindows</a> 
        C Applications, using Oracle Pro-C compilers on 
        <a href="https://en.wikipedia.org/wiki/Unix" target="_blank">Unix</a>, and with 
        <a href="https://en.wikipedia.org/wiki/GNOME" target="_blank">Gnome Window Manager</a> on 
        <a href="https://en.wikipedia.org/wiki/Linux" target="_blank">Linux</a>.
        Abion also has expertise in object oriented 
        <a href="https://en.wikipedia.org/wiki/C%2B%2B" target="_blank">C++</a> using multiple inheritance
        and the Standard Template Library (STL). 
        <br /><br />Abion has expertise and experience with
        Command and Control Software and Programmable Logic Controller (PLC) software,
        including <a href="http://www.arduino.cc" target="_blank">Arduino Microcontrollers</a>,
        and also using 
                  <a href="https://sl.com/products/sl-gms/" target="_blank">Sherill-Lubinski (SL-GMS) UI</a>.
        <br /><br />
        ABION can implement your 
        <a href="https://en.wikipedia.org/wiki/Java_(programming_language)" target="_blank">Java</a> 
        application using the 
        <a href="https://spring.io/projects/spring-framework" target="_blank">Spring Framework</a> and also with the <a href="https://en.wikipedia.org/wiki/Hibernate_(framework)" target="_blank">Hibernate</a>
        ORM,
        including <a href="https://en.wikipedia.org/wiki/Android_(operating_system)" target="_blank">Android Java</a> 
        and <a href="https://en.wikipedia.org/wiki/Java_Platform,_Micro_Edition" target="_blank">Java Micro Edition (JME)</a>.
        <br /><br />
        ABION has in depth experience with Object Oriented Microsoft 
        <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank">C# .NET</a> 
        development also using the 
        <a href="https://visualstudio.microsoft.com/" target="_blank">Visual Studio Development Environment</a>.
    </p>
    <br />
    <p>Contact Abion today if you have any needs for C/C++, Java, or C# .NET software development.</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<div class="clr"></div>
    </div>
  </div>

<script>
  ga('send', 'pageview');
</script>