
@{
    ViewBag.Title = "Social Media";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- text content goes here --->
<div class="clr"></div>
<div class="textdiv">
    <h2>Social Media</h2>
    <br>
    <p>
        Social Media such as Facebook and Twitter has become an important part of people's digital lives. Studies show that the average Facebook user spends 20 minutes or more per day using Facebook to communicate with friends, co-workers, and family. Facebook has also become very important for businesses and organizations. ABION specializes in Social Media, from basic profiles, fan pages, business pages, to advanced and complex custom social media applications, and social media advertising and marketing campaigns.
    </p>
    <br>

    <h3>Basic Social Media Profile</h3>
    <p>
        For new social media users, ABION can set you up with a basic Facebook page and a Twitter account for your business or organization. ABION will show you how to use Facebook and Twitter to engage with your customers and distribute information about your business or organization. For busy individuals, ABION will take full control of their social media presence for a competitive fee. ABION can also provide advice on other social media platforms such as Blogger, LinkedIn, and others which may be useful to your business or organization.
    </p>
    <br>

    <h3>Facebook and Twitter Custom Applications</h3>
    <p>
        Facebook and Twitter custom applications are the best way to extend the functionality of your social media profile. Custom applications can enable restaurants to put thier menu on thier Facebook page, allow Realty Professionals to list their properties, allow users to register as a potential realty customer, and also to quickly search through properties. Custom Facebook applications can allow a business to integrate thier online product catalog into thier Facebook page. The only way to extend the features of Facebook and Twitter beyond the basic elements is with a custom Facebook or Twitter application. ABION can also integrate your application with Bitly to make for easy to follow links. ABION has extensive expertise with Social Media applications and can develop a custom application specifically for your business or organization.
    </p>
    <p>
        For more details about ABION Social Media applications, go to the home page and follow the App Links on the left hand side of the home page.
    </p>
    <br>
    <br>
    <br>

</div>
<div class="clr"></div>
    </div>
  </div>

<script>
  ga('send', 'pageview');
</script>
