
@{
    ViewBag.Title = "Web Advertising";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- text content goes here --->
<div class="clr"></div>
<div class="textdiv">
    <h2>Web Advertising</h2>
    <br>
    <p>
        Advertising on the web is a critical part of doing business on the web. ABION has expertise on the two most important web advertising platforms, Google Adsense and Facebook Ads. ABION can setup your ads for a competitive fee.
    </p>
    <br>

    <h3>Google Adsense (Ads)</h3>
    <p>
        Google Adsense, often referred to as Google Ads, is an advertising platform that displays advertisements on Google search pages when the Ad matches a particular keyword, or set of keywords, that were being searched for on Google. The Ads typically appear at the bottom or top of a page of Google search results.
    </p>
    <br>

    <p>
        With Google Adsense you only pay when someone clicks on your ad, fees range from less than a dollar to considerably more, depending on many factors, including if your Keywords for your ads are very popular and desired by many other businesses. Most Google Adsense users will pay relatively small fees per click. Also, Google Adsense lets you set your monetary limit per day and also monetary limit for all clicks, this is very useful for businesses or organizations who have a fixed budget for advertising, and prevents you from getting fees greater than your budget.
    </p>

    <p>
        Google Adsense also allows you to designate your ads to appear depending on location of the person doing a search on Google, using Google's advanced platform that lets Google know the location of the Google user. Ads can be designated to only show for local Google users, by City, by State, Nationwide, or even Globally. As a general rule, the larger your location you wish to show ads for, the larger the number of clicks you will receive.
    </p>
    <br>

    <h3>Facebook and Twitter Advertising Campaigns</h3>
    <p>
        Facebook has a powerful advertising platform that allows you to target a customer base by their interests, age, location, and other factors which go beyond what is possible with Google Adsense (advertisements). ABION has expertise with Facebook ads and can help design your ads to target your specific customer base and also potential new customers. ABION will pick the best keywords for your ads for the best results. ABION also has expertise in Twitter campaigns and ABION's custom applications make it easy to advertise through Twitter.
    </p>

    <p>
        Contact ABION today to see how Web Advertising can benefit your business or organization.
    </p>
    <br>
    <br>
    <br>
</div>
<div class="clr"></div>
    </div>
  </div>

