
@{
    ViewBag.Title = "WebApp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- text content goes here --->
<div class="clr"></div>
<div class="textdiv">
    <h2>Website Development</h2>
    <p>
        ABION specializes in making clean, professional looking websites custom order for your business or organization. Your website will have a fresh, professional, and appealing graphic design and will be integrated with the leading social media widgets to give you exposure on the popular social media sites like Facebook and Twitter. ABION also is expert in professional Javascript JQuery plugins that will give your site appealing components such as image galleries, form validation, and other useful features. ABION also has competitive hosting fees on servers with guaranteed uptime and regular backups. ABION will also register your website with the leading search engines such as Google, Yahoo, and Bing.
    </p>
    <br>

    <h3>Web Application Development with ASP.NET, C#, and Microsoft SQL Server</h3>
    <p>
        ABION is also expert in Web Application Development with Microsoft Web Technologies. ABION can create a new multifunction web database application, or add new features to your already existing ASP.NET application. ABION can implement your ASP.NET web application using the Model View Controller (MVC) Framework, or with the WebForms Framework. Also ABION can implement advanced application features such as the Windows Communication Foundation (WCF), Windows Presentation Foundation (WPF), and AJAX. Your web application will be fully integrated with a database if needed. ABION has extensive experience with database design, queries, and reporting, including reporting with SSRS. ABION can also upgrade an already existing Classic ASP application to ASP.NET, so that your web application will be current with up-to-date web technologies.
    </p>
    <br>
    <p>Contact ABION today to discuss your web and web application needs.</p>
    <br>
    <br>
    <br>

</div>
<div class="clr"></div>
    </div>
  </div>

<script>
  ga('send', 'pageview');
</script>

